table {
  border-collapse: collapse;
}
td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

td.green-clicked {
  background-color: green;
}

td.red-clicked {
  background-color: red;
}

td.missed {
  background-color: red;
}

.clicked {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}